@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 @apply bg-gray-50 text-gray-900 antialiased;
}

input {
  @apply focus:outline-none;
}

.label-success {
  @apply text-gray-700 bg-gray-200 rounded-lg overflow-hidden;
}

.label-warn {
  @apply text-orange-500 bg-orange-200 rounded-lg overflow-hidden;
}

.input-no-border {
  @apply border-0 focus:ring-0 focus:border-0;
}

